@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');


* {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFCF9;
}

section {
  text-align: center;
  max-width: 90%;
  margin: auto;
}

hr{
  margin: 0 auto;
  width: 70%;
}

.naranja {
  color: #B06A00;
}

h2 {
  margin-top: 1rem;
}

.nuestras_experiencias-section {
  max-width: 1000px;
}

/* A partir de acá! */

/* a{
  color: #000;
  width: fit-content;
  margin: auto;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

section {
  text-align: center;
  padding: 4rem;
}

h2{
  margin-bottom: 3rem;
}

main{
  
}

img{
  max-width: 100%;
}

header {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

li {
  list-style: none;
}



.menu-header {
  display: flex;
  justify-content: center;
  gap: 8%;
}

 a {
  text-decoration: none;
}



#logo {
  font-family: 'Satisfy', cursive;
  display: inline;
}

.carrousel {
  position: relative;
  padding: 2rem;
}

.flecha{
  max-width: 18px;
  position: absolute;
  top:50%;
  cursor: pointer;
}

.flecha-derecha {
  right: 2rem;
}

.flecha-izquierda {
  left: 2rem;
}

.contenido-carrousel{
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: auto;
  height: 100%;
}

.imagen-carrousel, .texto-carrousel {
  width: 50%;
}

.texto-amasando{
  max-width: 73%;
  margin: auto;
}

.experiencias{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 4%;
}


.experiencia{
  height: 100%;
  width: 45%;
  margin-top: 2rem;
}

.experiencia-texto {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.experiencia-foto {
  height: auto;
}

.empresas-amigas {
  display: flex;
  justify-content: center;
  gap: 8%;
}

.empresa-amiga{
  width: 220px;
  height: 220px;
  border: 1px solid red;
}


footer{
  background-color: lightgrey;
  padding: 1rem;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-footer {
  display: flex;
  justify-content: center;
  gap: 8%;
}


#contenedor-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  padding: 2rem;
  gap: 2%;
  row-gap: 2rem;
}

.card-nosotros {
  max-width: 400px;
}

.imagen-nosotros {
  max-width: 100%;
}

h3,h5 {
  text-align: center;
}


.menu {
  width: 60%;
  max-width: 700px;
  min-height: 100vh;
  margin: 4rem auto;
  border: 1px solid green;
  padding: 6%;
}

.menu  li {
  margin: 1rem 0;
}


.container-contacto{
  padding: 2rem;
  display: flex;
}

.izq, .der {
  width: 50%;
  text-align: center;
}

form {
  text-align: left;
}

input {
  display: block;
  border: none;
  border: 1px solid grey;
  border-radius: 20px;
  width: 80%;
}

input::placeholder {
  font-weight: bold;
  padding-left: 0.7rem;
  color: black; 
}

#mensaje {
  height: 300px;
  width: 80%;
}

.carousel-control-prev {
    left: -5%;
}

.carousel-control-next {
  right: -5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.imagen-carrousel > img {
  height: 100%;
}
 */
