@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');

.navbar {
    gap: 10%;
    flex-wrap: wrap;
    margin: auto;
    max-width: 200px;
    text-align: center;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.carousel-inner {
    text-align: center;
}

.texto-carousel {
    margin: 0;
    padding: 1rem 0;
}

#carouselExampleControls > a {
    display: none;
}

#nuestras_experiencias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: center;
    border: none;
    max-width: 345.5px;
    margin: 1rem 0;
    line-height: 0.8;
}

.navbar-toggler {
    border-radius: 20px;
}

.card-body {
    padding: 1rem 0;
}

.empresa-amiga img {
    max-width: 300px;
}



