@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');

.navbar {
    gap: 10%;
    flex-wrap: wrap;
    margin: auto;
    max-width: 200px;
    text-align: center;
    justify-content: center;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


ul.navbar-nav > li {
    margin: 20% 0;
}

                                        /* index.html */

.carousel-inner {
    text-align: center;
}

.texto-carousel{
    font-size: 4.8vw;
}

#carouselExampleControls > a {
    display: none;
}

#nuestras-experiencias-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: center;
    border: none;
    max-width: 600px;
    line-height: 0.8;
    padding: 2rem;
    border: 2px solid #065D9E;
    margin: 4% 8%;
}

.navbar-toggler {
    border-radius: 20px;
}

.texto-amasando {
    line-height: 2;
}

.card-body {
    padding: 1rem 0;
    font-size: calc(164% - 3px);
}


.empresa-amiga {
    padding: 1rem;
}

                                    /* menu.html */


#contenedor-nosotros {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
    text-align: center;
}

.nombre-nosotros {
    font-size: 1.5rem;
}

.seccion-menu{
    font-size: 2rem;
}



                                    /* contacto.html */



.container-contacto {
    display: flex;
    flex-direction: column;
}


form {
    text-align: center;
}

#mensaje {
    height: 200px;
}

#submit-button {
    width: 200px;
}