@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');

.navbar {
    gap: 10%;
    flex-wrap: wrap;
    margin: auto;
    max-width: 200px;
    text-align: center;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


ul.navbar-nav > li {
    margin: 20% 0;
}

                                        /* index.html */

.carousel-inner {
    text-align: center;
}

.texto-carousel {
    font-size: 1rem;
    margin: 0;
    padding: 1rem 0;
}

#carouselExampleControls > a {
    display: none;
}

#nuestras-experiencias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: center;
    border: none;
    max-width: 345.5px;
    margin: 1rem 0;
    line-height: 0.8;
}

.navbar-toggler {
    border-radius: 20px;
}

.texto-amasando {
    line-height: 2;
}

.card-body {
    padding: 1rem 0;
}
.empresas-amigas {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.empresa-amiga {
    padding: 1rem;
}

.empresa-amiga img {
    max-width: 200px;
}

.nav-footer {
    display: none;
}





                                    /* menu.html */

.menu-section{
    padding: 1rem;
}


#menu {
    padding: 1rem;
    background-color: white;
    border: 1px solid #000;
}

#menu > div {
    text-align: left;
}

#menu h4 {
    text-align: center;
    margin-top: 1rem;
}

.platos {
    display: flex;
    flex-direction: column;
    
}

.plato,
.salsa,
.postre,
.vino {
    margin-top: 1.7rem;
    line-height: 0.8;
}

.titulo{
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}


                                    /* nosotros.html */


#contenedor-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
    text-align: center;
}

.contenedor-imagen-nosotros > img {
    max-width: 200px;
}


                                    /* contacto.html */



.container-contacto {
    display: flex;
    flex-direction: column;
}

.izq {
    
    padding: 1rem;
}

form {
    text-align: center;
}

.izq > form > div {
    margin: 1rem;
    padding: 0.4rem;
    display: flex;
    justify-content: right;
    gap: 2%;
}

.izq > form > div > label {
    margin-right: auto;
}

#mensaje {
    height: 200px;
}

#submit-button {
    width: 200px;
}